body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.navbar {
    position: center,fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 10px;
}

.logo img {
    align-items: center;
    height: 50px;
    width: auto;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 12px;
    color: #333;
    background-color: #f9f9f9;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a.active, .nav-links a:hover {
    background-color: #007BFF;
    color: #ffffff;
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.user-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
